.main-row{
    width: 100%;
    margin-left: 0%;
    height: 100%;
}

.navbar-element{
    background-color: #ffffff;
    font-size: smaller;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
    z-index: 1;
}

.navbar-element:hover{
color: #20abe1 !important;
transition: 0.5s;
}

.navbar-element-not-last-one{
    border-right: 1px rgba(109, 109, 109, 0.295) solid;
}

.custom-navbar{
  position: absolute;
  top: 15%;
  left: 42%;

  width: 24rem;
  height: 3.5rem;

  background-color: #ffffff;
  border-radius: 4px;
  border-color: black;
}
@media only screen and (max-width: 1600px) 
{
  .custom-navbar{
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0px;

  }
}


.navbar-button::after {
    content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: #20abe1;
  transition: ease .3s;
  -webkit-transition: ease .3s;
  }

  
  .navbar-button:hover:after{
    height: 4px;
  }


  .navbar-button{
    color: black;
    border: 0;
    background-color: transparent;
  }

  .navbar-button:hover{
    text-decoration: none;
    color: #20abe1 !important;
    transition: 0.5s;
  }
  
  .navbar-button:focus{
    outline: 0;
  }

  .buttonactive{
    color: #20abe1 !important

    
  }

  .buttonactive::after{
    height: 4px;
  }

  @media only screen and (max-width: 600px) {
    .navbar-button span{
      font-size: 0.6rem;
    }
  }

 