
<section class="main-page">
  <div class="page-wrapper">

    
    <div id="about-section" class="about-page mt-4">
      <h2>About me</h2>
      <hr class="page-separator">

        <div id="about-me" class="row">

            <div id="my-resume" class="col-12 col-xl-5" >
              <p class="ml-1 mr-1 mt-5 mb-2">
                My name is Manuel Cortés.
              </p>
              <p class="ml-1 mr-1 mt-2 mb-2" >
                I'm a Computer Engineer specialized in <strong>Software Engineering</strong> with great knowledge of building <strong>scalable and optimized software</strong>.
                My capability goes from developing frontend to building back, being dev ops or even database designeer.

                
              </p>

              <p class="ml-1 mr-1 mt-2 mb-5">
                The most important thing is not the knowledge but the <strong>capacity to learn on your own</strong>.
              </p>
            </div>

            <div id="my-schooling" class="col-12 col-xl-7" >
              <img class="mt-5 mb-5 ml-2 schooling-img" src="../../assets/uco.png" style="">
            </div>

        </div>
    </div>

    <div class="spacing-div"></div>
    
    
    
    <div id="experience-page">
    <h2>My Projects</h2>
    <hr class="page-separator">
        <div class="row pb-5">
            <div class="col-12 col-sm-6 p-3">
              <ProjectCard projectName="Easyfruit" projectTecnologies="Vue.js + Flask + MySQL" 
              projectLink="https://github.com/Stickyamp11/easyfruitApp" :projectImage="getImgUrl('easyfruit.png')"/>
            </div>
            <div class="col-12 col-sm-6 p-3">
              <ProjectCard projectName="Ucommerce" projectTecnologies="Ionic + Angular + Express" 
              projectLink="https://github.com/cristiancosano/ucommerce-app" :projectImage="getImgUrl('ucommerce.png')"/>
            </div>
            <div class="col-12 col-sm-6 p-3">
              <ProjectCard projectName="QRRestaurant" projectTecnologies="Angular + Express + JavaScript" 
              projectLink="https://github.com/Stickyamp11/qrrestaurant" :projectImage="getImgUrl('qrrestaurant.png')"/>
            </div>
        </div>  

    </div>

    <div class="spacing-div"></div>


    <div id="skills-section" class="skill-page">
      <h2>Skills</h2>
      <hr class="page-separator">
      <div id="skill-list" class="row d-flex justify-content-center align-items-center" style="">
        <div id="personal-skills" class="col-12 col-sm-6 d-flex flex-column p-2 pb-5" >
          <span class="mb-2"><h2>Personal Skills</h2></span>
          <div class="skill-item d-flex align-items-center mb-3"><i class="fa-solid fa-people-group fa-3x mr-3 skill-image"></i><span>Teamwork</span></div>
          <div class="skill-item d-flex align-items-center mb-3"><i class="fa-solid fa-graduation-cap fa-3x mr-3 skill-image"></i><span>Fast learning</span></div>
          <div class="skill-item d-flex align-items-center mb-3"><i class="fa-solid fa-microphone fa-3x mr-3 skill-image"></i><span>Good speech</span></div>
          <div class="skill-item d-flex align-items-center mb-3"><i class="fa-solid fa-palette fa-3x mr-3 skill-image"></i><span>Creative</span></div>
        </div>
        <div id="professional-skills" class="col-12 col-sm-6 d-flex flex-column p-2 pb-5">
          <span class="mb-2"><h2>Professional Skills</h2></span>
          <div class="skill-item d-flex align-items-center mb-3"> <i class="fa-solid fa-laptop fa-3x mr-3 skill-image"></i><span>Front & Back development</span></div>
          <div class="skill-item d-flex align-items-center mb-3"><i class="fa-solid fa-compass-drafting fa-3x mr-3 skill-image"></i><span>Software design based on agile methodologies</span></div>
          <div class="skill-item d-flex align-items-center mb-3"> <i class="fa-solid fa-database fa-3x mr-3 skill-image"></i><span>Design & deployment of databases</span></div>
          <div class="skill-item d-flex align-items-center mb-3"> <i class="fa-solid fa-diagram-project fa-3x mr-3 skill-image"></i><span>Project management</span></div>
        </div>
      </div>
    </div>

    <div class="spacing-div"></div>

    <div id="tecnologies-section" class="tecnologies-page">
      <h2>Tecnologies</h2>
      <hr class="page-separator">
      <div id="tecnologies-grid" class="row">
        <div id="Frontend" class="col-6 col-sm-6 col-md-3 d-flex flex-column align-items-center p-2 pb-5" >
          <span class="mb-2"><h2>Frontend</h2></span>


          

          <img class="" src="../../assets/html.png" alt="html" style="width: 96px; height: 96px;">
          <span class="tecno-name">HTML</span>
          <img class="" src="../../assets/css.png" alt="css" style="width: 96px; height: 96px;">
          <span class="tecno-name">CSS</span>
          <img class="" src="../../assets/js.png" alt="js" style="width: 96px; height: 96px;">
          <span class="tecno-name">JAVASCRIPT</span>
          <img class="" src="../../assets/angular.png" alt="angular" style="width: 96px; height: 96px;">
          <span class="tecno-name">ANGULAR</span>
          <img class="" src="../../assets/react.png" alt="react" style="width: 96px; height: 96px;">
          <span class="tecno-name">REACT</span>
          <img class="" src="../../assets/vuejs.png" alt="vuejs" style="width: 96px; height: 96px;">
          <span class="tecno-name">VUE.JS</span>
        </div>

        <div id="Backend" class="col-6 col-sm-6 col-md-3 d-flex flex-column align-items-center p-2 pb-5">
          <span class="mb-2"><h2>Backend</h2></span>
          <img class="roundedElement" src="../../assets/django.png" alt="postman" style="width: 96px; height: 96px;">
          <span class="tecno-name">DJANGO</span>
          <img src="https://img.icons8.com/nolan/96/flask.png"/>
          <span class="tecno-name">FLASK</span>
          <img src="https://img.icons8.com/external-good-lines-kalash/96/000000/external-express-untact-economy-good-lines-kalash.png"/>
          <span class="tecno-name">EXPRESS</span>
          <i class="fa-brands fa-golang fa-4x"></i>
          <span class="tecno-name">GOLANG</span>
          <i class="fa-brands fa-laravel fa-4x"></i>
          <span class="tecno-name">LARAVEL</span>
         
        </div>

        <div id="Mobile" class="col-6 col-sm-6 col-md-3 d-flex flex-column align-items-center p-2 pb-5">
          <span class="mb-2"><h2>Mobile</h2></span>
          <img src="https://img.icons8.com/color/96/000000/react-native.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name" >REACT NATIVE</span>
          <img src="https://img.icons8.com/color/96/000000/ionic.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">IONIC</span>
          <img src="https://img.icons8.com/color/96/000000/flutter.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">FLUTTER</span>
         </div>

        <div id="Other" class="col-6 col-sm-6 col-md-3 d-flex flex-column align-items-center p-2 pb-5">
          <span class="mb-2"><h2>Other</h2></span>

          <img src="https://img.icons8.com/color/96/000000/nodejs.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name" >NODE.JS</span>
          <img class="roundedElement" src="../../assets/postman.png" alt="postman" style="width: 96px; height: 96px;">
          <span class="tecno-name">POSTMAN</span>
          <img src="https://img.icons8.com/nolan/96/heroku.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">HEROKU</span>
          <img src="https://img.icons8.com/color/96/000000/jenkins.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">JENKINS</span>
          <img src="https://img.icons8.com/color/96/000000/kubernetes.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">KUBERNETES</span>
          <img src="https://img.icons8.com/ios/96/000000/solidity.png" style="width: 96px; height: 96px;"/>
          <span class="tecno-name">SOLIDITY</span>
         
        </div>

      </div>
    </div>

    <div class="spacing-div"></div>
  




  </div>

</section>

