  <div class="box-wrapper">
    <div class="photo-place">
      <img id="this-is-me" src="../../assets/thisisme.png">
    </div>

    <div class="who-am-i">

        <div class="my-logo">
          <img src="../../assets/manuelLogo.png">
        </div>

        <div class="fancy-software">
            <ul class="dynamic-text">
              <li><span>Software Engineer</span></li>
              <li><span>Dev Ops</span></li>
              <li><span>Project Manager</span></li>
            </ul>
        </div>

        <div class="social-media d-flex justify-content-center align-items-center">
          <a href="https://www.instagram.com/manu.cs21"><i class="fa-brands fa-instagram fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/manuel-cort%C3%A9s-a69796212"><i class="fa-brands fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/stickyamp11"><i class="fa-brands fa-github fa-2x"></i></a>
          <a href="https://github.com/stickyamp11"><span>CV</span></a>
        </div>




    </div>

    <div class="contact-me row">
      <div id="contact-button-left-wrapper" class="col-6 d-flex justify-content-center contact-button-wrapper align-items-center">
        <a class="contact-button" href="../../assets/myCV.pdf" download="CV Manuel Cortés Serrano">MY CV <i class="fa-solid fa-file"></i></a>
             
      </div>
      <div class="col-6 d-flex justify-content-center contact-button-wrapper align-items-center">
        <a class="contact-button" href="mailto:manuelCortesSoftware@hotmail.com">EMAIL ME <i class="fa-solid fa-envelope"></i></a>
        
        
      </div>
    </div>
    
    
  </div>

